.header {
  @apply py-8 text-2xl font-medium  text-white;
  background-color: $primary;
  &__wrapper {
    @apply flex flex-wrap items-center container justify-between px-8 mx-auto;
    &__logo {
      @apply flex items-center hidden mb-4   lg:block md:mb-0;
      a {
        @apply text-xl items-center flex;
        &:hover {
          color: #04b691 !important;
        }

        svg {
          @apply w-8 h-8 mr-4;
        }
      }
    }
    &__drawer {
      @apply p-3 overflow-hidden text-2xl text-right;
    }
    &__nav {
      @apply flex flex-wrap items-center justify-center hidden md:ml-auto md:mr-auto lg:block;
      a {
        @apply mr-12;
        &:hover {
          color: #04b691 !important;
        }
      }
    }
  }
}
.mobile-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mobile-menu li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}
