.header {
  @apply py-8 text-2xl font-medium  text-white;
  background-color: $primary;
  &__wrapper {
    @apply flex flex-wrap items-center container justify-between px-8 mx-auto;
    &__logo {
      @apply flex items-center hidden mb-4   lg:block md:mb-0;
      a {
        @apply text-xl items-center flex;
        svg {
          @apply w-8 h-8 mr-4;
        }
      }
    }
    &__drawer {
      @apply p-3 overflow-hidden text-2xl text-right;
      // &__menu {
      //   @apply p-3 overflow-hidden text-2xl text-right;
      // }
    }
    // &__menu {
    //   @apply flex flex-wrap items-center  hidden text-base md:ml-auto  lg:block;
    //   a,
    //   svg {
    //     @apply mr-6;
    //   }
    //   &__service {
    //     @apply inline-block pb-2;
    //     span {
    //       @apply flex items-center gap-1;
    //       svg {
    //         @apply mr-0;
    //       }
    //     }
    //   }
    // }
    // &__cart {
    //   @apply relative inline-block mr-6;
    // }
  }
}
.mobile-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mobile-menu li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}
