.about-us-area .section-header-area {
  @apply mb-14;
}

.about-us-area .about-us-text {
  @apply mb-10 font-normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #777777;
  &:last-child {
    @apply mb-0;
  }
}

.section-header-area {
  margin-bottom: 6rem;
}

.section-header-area .sub-title {
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--primary-color);
}

.section-header-area .section-title {
  @apply m-0 font-semibold capitalize text-gray-900;
  line-height: 4rem;
  font-size: 3.6rem;
}

@media (max-width: 1199px) {
  .about-us-area .about-us-text {
    @apply mb-4;
  }
  .about-us-area .section-header-area .sub-title {
    @apply mb-8;
  }
  .about-us-area .section-header-area {
    @apply mb-10;
  }
}

@media (max-width: 767px) {
  .about-us-area .about-us-image {
    @apply mb-12;
  }
  .about-us-area .about-us-image img {
    @apply w-full h-auto;
  }
}
