.single-gallery {
  @apply relative mb-8 overflow-hidden;
  &__left {
    border-radius: 500px 0 0 500px;
  }
  &__top {
    border-radius: 500px 500px 0 0;
  }
  &__bottom {
    border-radius: 0 0 500px 500px;
  }
  img {
    @apply w-full h-auto;
  }
  &:hover .popup-overlay {
    opacity: 1;
    visibility: visible;
  }
}

.single-gallery .popup-overlay {
  @apply flex justify-center items-center absolute w-full h-full left-0 top-0 opacity-0 invisible;
  flex-flow: row wrap;
  background: rgba(13, 120, 98, 0.3);
  transition: all 0.3s linear;
  a {
    @apply flex justify-center items-center bg-gray-900 text-white rounded-full;
    flex-flow: row wrap;
    width: 5.4rem;
    height: 5.4rem;
    font-size: 2.5rem;
    line-height: 1;
    transition: all 0.3s linear;
    &:hover {
      background-color: #0d7862;
      color: white;
    }
  }
}
