.category-left {
  @apply items-center relative;
  h2 {
    @apply mb-24 font-bold text-7xl;
  }
  padding: 155px 0;
  z-index: 1;
  &::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 100%;
    top: 0;
    left: -60px;
    background-color: #f8f3f7;
    border-radius: 0 320px 320px 0;
    z-index: -1;
  }
}
.category-list {
  @apply grid grid-cols-3 gap-6;
  li {
    @apply my-3 border border-gray-300 h-24 text-3xl flex items-center hover:bg-yellow-400 justify-center;
    a {
      @apply flex items-center;
    }
  }
}
