.privacy-policy-area .single-privacy-policy {
  margin-bottom: 3rem;
}

.privacy-policy-area .single-privacy-policy:last-child {
  margin-bottom: 0;
}

.privacy-policy-area .single-privacy-policy .privacy-policy-title {
  margin-bottom: 1.5rem;
  font-family: "Jost", sans-serif;
  font-size: 3.6rem;
  line-height: 4.6rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black);
}

.privacy-policy-area .single-privacy-policy .privacy-policy-title-small {
  margin-bottom: 1.5rem;
  font-family: "Jost", sans-serif;
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black);
}

.privacy-policy-area .single-privacy-policy .privacy-policy-text {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #777777;
}

.privacy-policy-area .single-privacy-policy .privacy-feature {
  margin: 0;
  padding: 0;
}

.privacy-policy-area .single-privacy-policy .privacy-feature .feature-item {
  position: relative;
  padding-left: 2rem;
  list-style: none;
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #777777;
}

.privacy-policy-area
  .single-privacy-policy
  .privacy-feature
  .feature-item
  .feature-link {
  color: #777777;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  word-break: break-all;
}

.privacy-policy-area
  .single-privacy-policy
  .privacy-feature
  .feature-item
  .feature-link:hover {
  color: var(--hover-color);
}

.privacy-policy-area
  .single-privacy-policy
  .privacy-feature
  .feature-item
  .feature-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
}

.privacy-policy-area
  .single-privacy-policy
  .privacy-feature
  .feature-item::before {
  position: absolute;
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  top: 8px;
  left: 0;
}

@media (max-width: 991px) {
  .privacy-policy-area .single-privacy-policy .privacy-policy-title {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media (max-width: 767px) {
  .privacy-policy-area .single-privacy-policy .privacy-policy-title {
    font-size: 2.6rem;
    line-height: 3.6rem;
  }
}

@media (max-width: 375px) {
  .privacy-policy-area .single-privacy-policy .privacy-policy-title-small {
    font-size: 2rem;
    line-height: 3rem;
  }
}
