.mobile-header-area {
  padding: 15px 0;
}

.mobile-header-area .menu-wrap {
  @apply flex items-center justify-between;
}

.mobile-header-area .brand-logo .brand-image {
  max-width: 120px;
}

.mobile-header-area .header-right {
  @apply flex items-center justify-end;
}

.mobile-header-area .header-right .header-btn {
  @apply inline-block relative mr-8;
  top: 5px;
}

.mobile-header-area .header-right .header-btn .btn-left {
  @apply relative w-12;
}

.mobile-header-area .header-right .header-btn .btn-left .count {
  @apply absolute right-0 rounded-full leading-8 font-bold items-center text-base	text-white;
  top: -3px;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #fca610;
  font-family: "Jost", sans-serif;
}

.mobile-header-area .header-right .header-btn .btn-left .btn-icon {
  @apply text-4xl font-semibold text-gray-900 leading-none;
}

.mobile-header-area .header-right .header-btn.wishlist-btn .btn-left .count {
  background-color: #fca610;
}

.mobile-header-area .header-right .header-btn.compare-btn .btn-left .count {
  background-color: #00aa6c;
}

.mobile-header-area .header-right .header-btn.cart-btn .btn-left .count {
  background-color: #ef1b27;
}

.mobile-header-area .header-right .menu-bar {
  @apply relative border-0 p-0 bg-transparent;
  top: 3px;
  font-size: 2rem;
}

.mobile-header-area .header-right .btn-list {
  @apply flex items-center m-0 p-0 relative;
  top: 5px;
}

.mobile-header-area .header-right .btn-list .single-item {
  @apply mr-8;
}

.mobile-header-area .header-right .btn-list .single-item .single-btn {
  color: var(--black);
  transition: all 0.3s linear;
}

.mobile-header-area
  .header-right
  .btn-list
  .single-item
  .single-btn
  .btn-icon::before {
  font-size: 2.2rem;
  font-weight: 500;
}

.mobile-header-area .header-right .btn-list .single-item .single-btn:hover {
  color: var(--primary-color-two);
}

.menu-offcanvas {
  padding: 3rem 1.5rem;
  border-right: 1px solid #fafafa;
  -webkit-box-shadow: 0px 15px 65px 5px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 15px 65px 5px rgba(0, 0, 0, 0.07);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu-offcanvas::-webkit-scrollbar {
  display: none;
}

.menu-offcanvas .mobile-menu-area .offcanvas-header {
  padding: 0;
  margin-bottom: 3rem;
}

.menu-offcanvas .mobile-menu-area .offcanvas-header .brand-logo {
  display: inline-block;
}

.menu-offcanvas .mobile-menu-area .menu-search-form {
  margin-bottom: 3rem;
}

.menu-offcanvas .mobile-menu-area .menu-search-form .form-select {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 5.2rem;
  padding: 0 1.5rem;
  font-family: "Jost", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333333;
  border: 1px solid #c4c4c4;
  border-radius: 0.6rem;
  background-color: transparent;
  white-space: nowrap;
}

.menu-offcanvas .mobile-menu-area .menu-search-form .form-select:focus {
  outline: none;
  box-shadow: none;
}

.menu-offcanvas .mobile-menu-area .menu-search-form .form-group {
  position: relative;
}

.menu-offcanvas .mobile-menu-area .menu-search-form .form-group .form-control {
  width: 100%;
  height: 5.2rem;
  padding: 0 1.5rem;
  padding-right: 4rem;
  border: none;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 0.6rem;
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #333333;
}

.menu-offcanvas
  .mobile-menu-area
  .menu-search-form
  .form-group
  .form-control::-webkit-input-placeholder {
  color: #333333;
}

.menu-offcanvas
  .mobile-menu-area
  .menu-search-form
  .form-group
  .form-control:-ms-input-placeholder {
  color: #333333;
}

.menu-offcanvas
  .mobile-menu-area
  .menu-search-form
  .form-group
  .form-control::-ms-input-placeholder {
  color: #333333;
}

.menu-offcanvas
  .mobile-menu-area
  .menu-search-form
  .form-group
  .form-control::placeholder {
  color: #333333;
}

.menu-offcanvas
  .mobile-menu-area
  .menu-search-form
  .form-group
  .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.menu-offcanvas .mobile-menu-area .menu-search-form .form-group .search-btn {
  position: absolute;
  right: 1.5rem;
  top: 1.8rem;
  padding: 0;
  line-height: 1;
  border: none;
  background-color: transparent;
  color: var(--black);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-weight: 700;
}

.menu-offcanvas
  .mobile-menu-area
  .menu-search-form
  .form-group
  .search-btn:hover {
  color: var(--primary-color);
}

.menu-offcanvas .mobile-menu-area .menu-bottom .currency-switcher {
  margin-bottom: 1.5rem;
}

.menu-offcanvas .mobile-menu-area .menu-bottom .lang-switcher {
  margin-bottom: 1.5rem;
}

.menu-offcanvas
  .mobile-menu-area
  .menu-bottom
  .currency-switcher
  .currency-list-open {
  top: 38px;
}

.menu-offcanvas .mobile-menu-area .menu-bottom .lang-switcher .lang-list-open {
  top: 38px;
}

.menu-offcanvas .mobile-menu-area .menu-bottom .account-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #222222;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu-offcanvas .mobile-menu-area .menu-bottom .account-btn .user-icon {
  margin-right: 5px;
  font-size: 2.2rem;
}

.menu-offcanvas .mobile-menu-area .menu-bottom .account-btn:hover {
  color: var(--primary-color);
}

.menu-offcanvas .mobile-menu-area .main-menu .menu-list .menu-item {
  position: relative;
  margin-bottom: 1.5rem;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item
  .menu-expand {
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 0;
  cursor: pointer;
  background-color: transparent;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item
  .menu-expand::before {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 7px);
  width: 14px;
  height: 2px;
  content: "";
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  background-color: #7e7e7e;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item
  .menu-expand::after {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 7px);
  width: 14px;
  height: 2px;
  content: "";
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(0.75) rotate(90deg);
  transform: scale(0.75) rotate(90deg);
  background-color: #7e7e7e;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item.active
  .menu-expand::after {
  -webkit-transform: inherit;
  transform: inherit;
}

.menu-offcanvas .mobile-menu-area .main-menu .menu-list .menu-item .menu-link {
  display: block;
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #555555;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item:hover
  .menu-link {
  color: var(--primary-color);
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item.active
  .menu-link {
  color: var(--primary-color);
}

.menu-offcanvas .mobile-menu-area .main-menu .menu-list .menu-item .sub-menu {
  display: none;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item
  .sub-menu
  .sub-menu-item {
  margin-top: 1.5rem;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item
  .sub-menu
  .sub-menu-title {
  display: block;
  margin-bottom: 2rem;
  font-family: "Jost", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--black);
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item
  .sub-menu
  .sub-menu-link {
  font-family: "Jost", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #555555;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item
  .sub-menu
  .sub-menu-link
  .menu-item-badge {
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.5rem 0.8rem;
  line-height: 1;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--white);
  background-color: #00aa6c;
  margin-left: 0.5rem;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item
  .sub-menu
  .sub-menu-link
  .menu-item-badge.new {
  background-color: #ef1b27;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item
  .sub-menu
  .sub-menu-link
  .menu-item-badge.trending {
  background-color: #fca610;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item
  .sub-menu
  .sub-menu-link
  .menu-item-badge.popular {
  background-color: #00aa6c;
}

.menu-offcanvas
  .mobile-menu-area
  .main-menu
  .menu-list
  .menu-item
  .sub-menu
  .sub-menu-link:hover {
  color: var(--primary-color);
}

@media (max-width: 480px) {
  .mobile-header-area .header-right .header-btn {
    margin-right: 1rem;
  }
  .mobile-header-area .brand-logo .brand-image {
    max-width: 100px;
  }
  .mobile-header-area .header-right .btn-list .single-item {
    margin-right: 1rem;
  }
  .header-area-v3 .header-right .btn-list .single-item {
    margin-right: 1rem;
  }
  .header-area-v3 .header-right .btn-list {
    margin-right: 1rem;
  }
}
