.product {
  @apply mb-12;
}

.product-btn-wrapper {
  @apply absolute mb-10 left-0 right-0 text-center bottom-14;
}

.product .products-top:hover .product-thumbnail {
  transform: scale(1.1);
}

.product-thumbnail {
  @apply max-w-full inline-block;
  transition: 1s ease all;
}

.products-btn {
  @apply inline-block opacity-0 invisible;
  transform: translateY(10px);
  transition: all 0.3s linear;
  margin: 0 0.3rem;
}

.products-btn:nth-child(1) {
  transition-delay: 0.2s;
}

.products-btn:nth-child(2) {
  transition-delay: 0.4s;
}

.products-btn:nth-child(3) {
  transition-delay: 0.6s;
}

.products-btn:nth-child(4) {
  transition-delay: 0.8s;
}

.product .product-info .product-catagory {
  @apply mb-6 text-2xl leading-9 font-normal uppercase text-gray-700;
}

.products-top {
  @apply relative mb-14 flex justify-center;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

.product:hover .products-top .products-btn {
  @apply translate-y-0 opacity-100 visible;
}

.product:hover .products-top .product-flag {
  @apply translate-y-0 opacity-100 visible;
}

.product-color {
  span {
    @apply relative cursor-pointer inline-block rounded-full w-12 mr-4 h-12;
  }
  &__black {
    @apply bg-gray-900;
  }
  &__tomato {
    @apply bg-red-500;
  }
  &__gray {
    @apply bg-gray-400;
  }
}
