.blog-single-area .blog-single-top {
  @apply m-16;
}

.blog-single-area .blog-thumbnail {
  @apply relative;
}

.blog-single-area .blog-thumbnail .blog-image {
  @apply w-full h-auto;
}

.blog-single-area .blog-thumbnail .blog-info {
  @apply flex justify-center items-center absolute top-1/2 left-1/2 text-center;
  flex-flow: row wrap;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 305px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 3rem;
}

.blog-single-area .blog-thumbnail .blog-info .blog-title {
  @apply font-semibold capitalize text-white;
  font-family: "Jost", sans-serif;
  font-size: 4.8rem;
}

.blog-single-area .blog-thumbnail .blog-info .blog-meta {
  @apply flex justify-center mb-8;
}

.blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta {
  @apply relative font-normal;
  margin: 0 1.5rem;
  font-size: 2rem;
  line-height: 1;
  color: #777777;
}

.blog-single-area
  .blog-thumbnail
  .blog-info
  .blog-meta
  .single-meta
  .blog-category {
  @apply uppercase;
}

.blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta::before {
  @apply absolute top-0;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #777777;
  left: calc(100% + 15px);
}

.blog-single-area
  .blog-thumbnail
  .blog-info
  .blog-meta
  .single-meta:last-child::before {
  display: none;
}

.blog-single-area .blog-meta-box {
  @apply flex items-center justify-between mb-24 pb-12;
  border-bottom: 1px solid #e9e9e9;
}

.blog-single-area .blog-meta-box .post-author {
  @apply flex items-center;
}

.blog-single-area .blog-meta-box .post-author .author-image {
  @apply object-cover rounded-full mr-6;
  width: 7.5rem;
  height: 7.5rem;
  -o-object-fit: cover;
}

.blog-single-area .blog-meta-box .post-author .author-info .author-name {
  @apply font-medium capitalize text-gray-900;
  font-size: 2rem;
}

.blog-single-area .blog-meta-box .post-author .author-info .author-designation {
  @apply text-base	font-normal m-0;
  color: #888888;
  margin: 0;
}

.blog-single-area .blog-meta-box .media-lsit {
  @apply m-0 p-0;
}

.blog-single-area .blog-meta-box .media-lsit .medi-item {
  @apply inline-block mr-10;
}

.blog-single-area .blog-meta-box .media-lsit .medi-item:last-child {
  @apply mr-0;
}

.blog-single-area .blog-meta-box .media-lsit .medi-item .soshal-media {
  color: #ababab;
  transition: all 0.3s linear;
}

.blog-single-area .blog-meta-box .media-lsit .medi-item .soshal-media:hover {
  color: var(--primary-color);
}

.blog-single-area .blog-content {
  @apply mb-16 text-base	font-normal capitalize;
  color: #777777;
}

.blog-single-area .blog-content.has-dropcap:first-letter {
  @apply float-left font-bold text-gray-900;
  font-size: 6.4rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0 0;
}

.blog-single-area .blockquote-area {
  @apply mb-16;
  padding: 4.5rem 4rem;
  background-color: #f8f8f8;
  border-left: 2px solid var(--primary-color);
}

.blog-single-area .blockquote-area .blockquote-text {
  @apply m-0;
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: #777777;
}

@media (max-width: 1399px) {
  .blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta {
    font-size: 1.8rem;
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-title {
    font-size: 3.6rem;
  }
}

@media (max-width: 1199px) {
  .blog-single-area .blog-thumbnail .blog-info .blog-title {
    font-size: 2.8rem;
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta {
    margin: 0 1rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 991px) {
  .blog-single-area .blog-thumbnail .blog-info {
    width: 80%;
    height: 60%;
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-title {
    font-size: 2.2rem;
  }
  .blog-single-area .blog-single-top {
    margin: 4rem 0;
  }
  .blog-single-area .blockquote-area .blockquote-text {
    font-size: 2rem;
    line-height: 3rem;
  }
  .blog-single-area .blockquote-area {
    padding: 3.5rem 2.5rem;
  }
  .blog-single-area .blog-content.has-dropcap:first-letter {
    font-size: 5.4rem;
  }
}

@media (max-width: 767px) {
  .blog-single-area .blog-thumbnail .blog-image {
    min-height: 375px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .blog-single-area .blog-thumbnail .blog-info {
    padding: 0 1rem;
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta {
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta::before {
    height: 10px;
    left: calc(100% + 5px);
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-title {
    font-size: 1.8rem;
  }
  .blog-single-area .blog-thumbnail .blog-info {
    width: 90%;
    height: 50%;
  }
  .blog-single-area .blog-meta-box {
    flex-flow: row wrap;
  }
  .blog-single-area .blog-meta-box .post-author {
    @apply mb-2 w-full;
  }
  .blog-single-area .blog-meta-box .media-lsit .medi-item {
    @apply mr-8;
  }
  .blog-single-area .blog-meta-box .media-lsit {
    margin-left: 6.5rem;
  }
  .blog-single-area .blog-meta-box .post-author .author-image {
    @apply w-20 h-20;
  }
  .blog-single-area .blog-meta-box .post-author .author-info .author-name {
    font-size: 1.8rem;
    margin: 0;
  }
  .blog-single-area
    .blog-meta-box
    .post-author
    .author-info
    .author-designation {
    font-size: 1.4rem;
  }
}

.comments-area {
  border: 1px solid #ededed;
}

.comments-area .comments-title {
  @apply font-medium uppercase text-gray-900;
  padding: 2rem 4rem;
  font-size: 2rem;
  border-bottom: 1px solid #ededed;
}

.comments-area .comment-list {
  @apply m-0 p-16;
}

.comments-area .comment-list .single-comment {
  @apply relative mb-14;
}

.comments-area .comment-list .single-comment:last-child {
  @apply mb-0;
}

.comments-area .comment-list .single-comment .comment-meta {
  @apply flex items-center mb-8;
}

.comments-area
  .comment-list
  .single-comment
  .comment-meta
  .comments-author-image {
  margin-right: 1.5rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.comments-area
  .comment-list
  .single-comment
  .comment-meta
  .comment-meta-info
  .author-name {
  @apply font-semibold capitalize;
  font-size: 1.8rem;
  color: #222222;
}

.comments-area
  .comment-list
  .single-comment
  .comment-meta
  .comment-meta-info
  .comment-time {
  @apply block text-2xl font-normal;
  color: #888888;
}

.comments-area .comment-list .single-comment .comment-content .comment-text {
  @apply mb-0 text-2xl leading-10 font-normal;
  color: #777777;
}

.comments-area .comment-list .single-comment .reply {
  @apply inline-block absolute right-0 text-2xl font-normal capitalize;
  color: var(--primary-color);
}

.comments-area .comment-list .single-comment .reply:hover {
  color: var(--hover-color);
}

.comments-area .comment-list .single-comment .children {
  margin-top: 3.5rem;
  margin-left: 3.5rem;
  border-left: 1px solid var(--primary-color);
  padding-left: 2rem;
}

.comment-respond {
  padding: 6rem 8rem;
  background-color: #f9f9f9;
}

.comment-respond .reply-title {
  @apply font-semibold capitalize text-gray-900;
  margin-bottom: 4.2rem;
  font-family: "Jost", sans-serif;
  font-size: 3.6rem;
}

.comment-respond .form-group {
  @apply mb-14;
}

.comment-respond .form-group .form-control {
  @apply w-full font-normal text-2xl bg-white;
  height: 5.6rem;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  padding: 1.5rem 2rem;
  font-family: "Jost", sans-serif;
  color: #888888;
}

.comment-respond .form-group .message-box {
  height: 186px;
}

.comment-respond .submit-btn {
  @apply inline-block text-white font-semibold text-2xl capitalize border-0;
  width: 320px;
  height: 5.6rem;
  background-color: var(--primary-color-two);
  text-transform: capitalize;
  transition: all 0.3s linear;
}

.comment-respond .submit-btn:hover {
  color: var(--white);
  background-color: var(--hover-color-two);
}

@media (max-width: 991px) {
  .comment-respond {
    padding: 6rem;
  }
}

@media (max-width: 767px) {
  .comment-respond {
    padding: 5rem 3rem;
  }
  .comments-area .comment-list .single-comment .children {
    @apply ml-6 pl-4;
  }
}

@media (max-width: 575px) {
  .comments-area
    .comment-list
    .single-comment
    .comment-meta
    .comments-author-image {
    @apply mr-4 w-20 h-20;
  }
  .comments-area
    .comment-list
    .single-comment
    .comment-meta
    .comment-meta-info
    .author-name {
    @apply text-2xl m-0;
  }
  .comments-area .comment-list {
    padding: 3rem 2rem;
  }
  .comments-area .comments-title {
    @apply p-8;
  }
}

@media (max-width: 480px) {
  .comment-respond .submit-btn {
    @apply w-full;
  }
  .comment-respond .reply-title {
    @apply mb-12 text-5xl;
  }
}

@media (max-width: 360px) {
  .comment-respond .reply-title {
    font-size: 2.8rem;
  }
  .comment-respond {
    padding: 4rem 2rem;
  }
  .comments-area .comment-list .single-comment .reply {
    position: inherit;
  }
  .comments-area .comments-title {
    font-size: 1.8rem;
  }
}
