.blog-single-area .blog-single-top {
  margin: 4rem;
}

.blog-single-area .blog-thumbnail {
  position: relative;
}

.blog-single-area .blog-thumbnail .blog-image {
  width: 100%;
  height: auto;
}

.blog-single-area .blog-thumbnail .blog-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 305px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 0 3rem;
}

.blog-single-area .blog-thumbnail .blog-info .blog-title {
  font-family: "Jost", sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white);
}

.blog-single-area .blog-thumbnail .blog-info .blog-meta {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta {
  position: relative;
  margin: 0 1.5rem;
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  color: #777777;
}

.blog-single-area
  .blog-thumbnail
  .blog-info
  .blog-meta
  .single-meta
  .blog-category {
  text-transform: uppercase;
}

.blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #777777;
  left: calc(100% + 15px);
  top: 0;
}

.blog-single-area
  .blog-thumbnail
  .blog-info
  .blog-meta
  .single-meta:last-child::before {
  display: none;
}

.blog-single-area .blog-meta-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #e9e9e9;
}

.blog-single-area .blog-meta-box .post-author {
  display: flex;
  align-items: center;
}

.blog-single-area .blog-meta-box .post-author .author-image {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 1.5rem;
}

.blog-single-area .blog-meta-box .post-author .author-info .author-name {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--black);
}

.blog-single-area .blog-meta-box .post-author .author-info .author-designation {
  font-size: 1.6rem;
  font-weight: 400;
  color: #888888;
  margin: 0;
}

.blog-single-area .blog-meta-box .media-lsit {
  margin: 0;
  padding: 0;
}

.blog-single-area .blog-meta-box .media-lsit .medi-item {
  display: inline-block;
  list-style: none;
  margin-right: 2.5rem;
}

.blog-single-area .blog-meta-box .media-lsit .medi-item:last-child {
  margin-right: 0;
}

.blog-single-area .blog-meta-box .media-lsit .medi-item .soshal-media {
  color: #ababab;
  transition: all 0.3s linear;
}

.blog-single-area .blog-meta-box .media-lsit .medi-item .soshal-media:hover {
  color: var(--primary-color);
}

.blog-single-area .blog-content {
  margin-bottom: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #777777;
}

.blog-single-area .blog-content.has-dropcap:first-letter {
  float: left;
  font-size: 6.4rem;
  font-weight: 700;
  color: var(--black);
  line-height: 0.65;
  margin: 0.1em 0.1em 0 0;
}

.blog-single-area .blockquote-area {
  margin-bottom: 4rem;
  padding: 4.5rem 4rem;
  background-color: #f8f8f8;
  border-left: 2px solid var(--primary-color);
}

.blog-single-area .blockquote-area .blockquote-text {
  margin: 0;
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: #777777;
}

@media (max-width: 1399px) {
  .blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta {
    font-size: 1.8rem;
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-title {
    font-size: 3.6rem;
  }
}

@media (max-width: 1199px) {
  .blog-single-area .blog-thumbnail .blog-info .blog-title {
    font-size: 2.8rem;
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta {
    margin: 0 1rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 991px) {
  .blog-single-area .blog-thumbnail .blog-info {
    width: 80%;
    height: 60%;
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-title {
    font-size: 2.2rem;
  }
  .blog-single-area .blog-single-top {
    margin: 4rem 0;
  }
  .blog-single-area .blockquote-area .blockquote-text {
    font-size: 2rem;
    line-height: 3rem;
  }
  .blog-single-area .blockquote-area {
    padding: 3.5rem 2.5rem;
  }
  .blog-single-area .blog-content.has-dropcap:first-letter {
    font-size: 5.4rem;
  }
}

@media (max-width: 767px) {
  .blog-single-area .blog-thumbnail .blog-image {
    min-height: 375px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .blog-single-area .blog-thumbnail .blog-info {
    padding: 0 1rem;
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta {
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-meta .single-meta::before {
    height: 10px;
    left: calc(100% + 5px);
  }
  .blog-single-area .blog-thumbnail .blog-info .blog-title {
    font-size: 1.8rem;
  }
  .blog-single-area .blog-thumbnail .blog-info {
    width: 90%;
    height: 50%;
  }
  .blog-single-area .blog-meta-box {
    flex-flow: row wrap;
  }
  .blog-single-area .blog-meta-box .post-author {
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .blog-single-area .blog-meta-box .media-lsit .medi-item {
    margin-right: 2rem;
  }
  .blog-single-area .blog-meta-box .media-lsit {
    margin-left: 6.5rem;
  }
  .blog-single-area .blog-meta-box .post-author .author-image {
    width: 5rem;
    height: 5rem;
  }
  .blog-single-area .blog-meta-box .post-author .author-info .author-name {
    font-size: 1.8rem;
    margin: 0;
  }
  .blog-single-area
    .blog-meta-box
    .post-author
    .author-info
    .author-designation {
    font-size: 1.4rem;
  }
}

.comments-area {
  border: 1px solid #ededed;
}

.comments-area .comments-title {
  padding: 2rem 4rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  border-bottom: 1px solid #ededed;
}

.comments-area .comment-list {
  margin: 0;
  padding: 4rem;
}

.comments-area .comment-list .single-comment {
  position: relative;
  margin-bottom: 3.5rem;
}

.comments-area .comment-list .single-comment:last-child {
  margin-bottom: 0;
}

.comments-area .comment-list .single-comment .comment-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.comments-area
  .comment-list
  .single-comment
  .comment-meta
  .comments-author-image {
  margin-right: 1.5rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.comments-area
  .comment-list
  .single-comment
  .comment-meta
  .comment-meta-info
  .author-name {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #222222;
}

.comments-area
  .comment-list
  .single-comment
  .comment-meta
  .comment-meta-info
  .comment-time {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  color: #888888;
}

.comments-area .comment-list .single-comment .comment-content .comment-text {
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #777777;
}

.comments-area .comment-list .single-comment .reply {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--primary-color);
}

.comments-area .comment-list .single-comment .reply:hover {
  color: var(--hover-color);
}

.comments-area .comment-list .single-comment .children {
  margin-top: 3.5rem;
  margin-left: 3.5rem;
  border-left: 1px solid var(--primary-color);
  padding-left: 2rem;
}

.comment-respond {
  padding: 6rem 8rem;
  background-color: #f9f9f9;
}

.comment-respond .reply-title {
  margin-bottom: 4.2rem;
  font-family: "Jost", sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black);
}

.comment-respond .form-group {
  margin-bottom: 3rem;
}

.comment-respond .form-group .form-control {
  width: 100%;
  height: 5.6rem;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  padding: 1.5rem 2rem;
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #888888;
}

.comment-respond .form-group .message-box {
  height: 186px;
}

.comment-respond .submit-btn {
  display: inline-block;
  width: 320px;
  height: 5.6rem;
  background-color: var(--primary-color-two);
  color: var(--white);
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.comment-respond .submit-btn:hover {
  color: var(--white);
  background-color: var(--hover-color-two);
}

@media (max-width: 991px) {
  .comment-respond {
    padding: 6rem;
  }
}

@media (max-width: 767px) {
  .comment-respond {
    padding: 5rem 3rem;
  }
  .comments-area .comment-list .single-comment .children {
    margin-left: 1.5rem;
    padding-left: 1rem;
  }
}

@media (max-width: 575px) {
  .comments-area
    .comment-list
    .single-comment
    .comment-meta
    .comments-author-image {
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
  }
  .comments-area
    .comment-list
    .single-comment
    .comment-meta
    .comment-meta-info
    .author-name {
    font-size: 1.6rem;
    margin: 0;
  }
  .comments-area .comment-list {
    padding: 3rem 2rem;
  }
  .comments-area .comments-title {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .comment-respond .submit-btn {
    width: 100%;
  }
  .comment-respond .reply-title {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
}

@media (max-width: 360px) {
  .comment-respond .reply-title {
    font-size: 2.8rem;
  }
  .comment-respond {
    padding: 4rem 2rem;
  }
  .comments-area .comment-list .single-comment .reply {
    position: inherit;
  }
  .comments-area .comments-title {
    font-size: 1.8rem;
  }
}
