.single-grid-blog .blog-thumbnail {
  @apply overflow-hidden mb-14;
}

.single-grid-blog .blog-thumbnail .thumbnail-image {
  @apply w-full object-cover;
  height: 250px;
  -o-object-fit: cover;
  transition: 1s ease all;
}

.single-grid-blog .blog-info .blog-category {
  @apply mb-4;
}

.single-grid-blog .blog-info .blog-category .single-category {
  @apply inline-block relative mr-6 leading-none;
  &:before {
    @apply absolute bottom-0;
    content: ",";
    bottom: 0;
    left: calc(100% + 6px);
  }
  &:last-child {
    &:before {
      @apply hidden;
    }
  }
}

.single-grid-blog .blog-info .blog-category .single-category .category-text {
  @apply inline-block text-2xl font-normal uppercase;
  color: #555555;
  transition: all 0.3s linear;
}

.single-grid-blog
  .blog-info
  .blog-category
  .single-category
  .category-text:hover {
  color: var(--primary-color) !important;
}

.single-grid-blog .blog-info .blog-title {
  @apply mb-4 font-medium capitalize text-gray-900;
  font-size: 2.4rem;
  line-height: 3.4rem;
}

.single-grid-blog .blog-info .blog-title .blog-link {
  color: var(--black);
  transition: all 0.3s linear;
}

.single-grid-blog .blog-info .blog-title .blog-link:hover {
  color: var(--primary-color);
}

.single-grid-blog .blog-info .blog-content {
  @apply mb-12 font-normal text-2xl;
  line-height: 2.6rem;
  color: var(--bColor);
}

.single-grid-blog .blog-info .blog-btn {
  @apply inline-block font-normal capitalize;
  font-size: 2rem;
  color: var(--primary-color);
  transition: all 0.3s linear;
  border-bottom: 2px solid var(--primary-color);
}

.single-grid-blog .blog-info .blog-btn:hover {
  color: var(--hover-color);
}

.single-grid-blog:hover .blog-thumbnail .thumbnail-image {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .single-grid-blog .blog-info .blog-title {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
  .single-grid-blog .blog-info .blog-category .single-category .category-text {
    font-size: 1.3rem;
  }
}
