@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-size: 62.5%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section-padding {
  @apply p-52;
}

.section-padding-t {
  @apply p-52;
}
.section-padding-b {
  @apply p-52;
}
.section-padding-secondary-b {
  @apply p-52;
}
