@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --primary-color: #ef1b27;
  --hover-color: #cc1f28;
  --primary-color-two: #0d7862;
  --hover-color-two: #04b691;
  --primary-color-three: #5f8e3e;
  --hover-color-three: #519224;
  --secondary-color: #fdd65b;
  --bColor: #777777;
  --white: #ffffff;
  --black: #000000;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section-padding {
  @apply py-52;
}

.section-padding-t {
  @apply pt-52;
}
.section-padding-b {
  @apply pb-52;
}
.section-padding-secondary-b {
  padding-bottom: 110px;
}

.primary-btn {
  display: inline-block;
  padding: 1.4rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  background-color: #0d7862;
  transition: all 0.3s linear;
  border: none;
}

.primary-btn:hover {
  background-color: #04b691;
  color: #fff;
}
